<!--Banner Image-->
<div>
    <img src="/Assets/images/aboutme_banner.png" class="img-fluid" alt="banner">
</div>

<div>
<div class="row">
  <div class="col">
  <img src="/Assets/images/avatar.jpg">
  </div>
  <div class="col"></div>
</div>
</div>