<!--Banner Image-->
<div>
    <div class="jumbotron text-white jumbotron-image shadow" style="background-image:url(/Assets/images/aboutme_banner.png)">
      <h2>
        About Me
      </h2>
    </div>
    <div></div>
    <div></div>

  </div>

<div>
    <img src="/Assets/images/avatar.jpg" class="img-thumbnail" alt="avatar">
</div>

<div class="row">
    <div class="col">
        <img class="img-responsive " style="width: 500px; padding-left: 50px; padding-top: 50x; padding-bottom: 50px;" src="/Assets/images/avatar.jpg"/>
    </div>
    <div class="col">
        <p>My name is Janaath Vjayaseelan and I am a student in my third term at Centennial College for the Software Engineering Technician program. I reside in Toronto, Canada a
            city booming for technology. My love for technology started at the age of six in 1999 when my dad got me this huge bulky box I remember to this day. I would spend hours 
          in front of that computer, and eventually started taking it apart, trying to understand how exactly a computer worked.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
        <img class="img-responsive " style="width: 500px; padding-left: 50px; padding-top: 50x; padding-bottom: 50px;" src="/Assets/images/avatar.jpg"/>

    </div>
    <div class="col-sm-8">
        <p style="width: 500px; padding-left: 50px; padding-top: 50x; padding-bottom: 50px;">My name is Janaath Vjayaseelan and I am a student in my third term at Centennial College for the Software Engineering Technician program. I reside in Toronto, Canada a
            city booming for technology. My love for technology started at the age of six in 1999 when my dad got me this huge bulky box I remember to this day. I would spend hours 
          in front of that computer, and eventually started taking it apart, trying to understand how exactly a computer worked.</p>
    </div>
  </div>
  

 