<!--Banner Image-->
<div>
    <img src="/Assets/images/aboutme_banner.png" class="img-fluid" alt="banner">
</div>

<div class="row ms-auto container-fluid">
  <div class="col row ms-auto container-fluid">
  <img src="/Assets/images/avatar.jpg" style="width:400px">
  </div>
  <div class="col row ms-auto container-fluid">
      <p>Hey how are you</p>
  </div>
</div>
