<!--Banner Image-->
<div>
    <img src="/Assets/images/aboutme_banner.png" class="img-fluid" alt="avatar">
</div>

<br>
<!--Grid Setup for Image and Bio-->
  <div class="row">
    <div class="col-sm-5">
        <img class="img-fluid " style=" padding-left: 50px; padding-top: 50x; padding-bottom: 50px;" src="/Assets/images/avatar.jpg"/>

    </div>
    <div class="col-sm-7">
        <p class="p1" style="padding-left: 50px; padding-top: 50x;  padding-right: 50px;">My name is Janaath Vjayaseelan and I am a student in my third term at Centennial College for the Software Engineering Technician program. I reside in Toronto, Canada a
            city booming for technology. My love for technology started at the age of six in 1999 when my dad got me this huge bulky box I remember to this day. I would spend hours 
          in front of that computer, and eventually started taking it apart, trying to understand how exactly a computer worked.</p>

          <p class="p1" style="padding-left: 50px; padding-right: 50px;">Growing up in the rise of the digital era, I was always fond of the innovation that was coming out of the space. You'd think with a growing admiration for the field
              I would have went to school for engineering. I did the complete opposite, I attended York University for Criminology instead. It took a while, but I knew it wasn't
              where I wanted to be. It was when I started working at Best Buy, that I once again discovered that love for technology. Since my time working there I made the best 
              decision of my life. Attending Centennial College opened me to a world of opportunities. It has given me the skill to be the developer I have always wanted to be
          </p>
          <p class="p1" style="padding-left: 50px; padding-right: 50px;"> I have started building skills in different languages. I am able to work with 
            Object Oriented Programming, HTML, CSS, Javascript, Node.js, SQL, NoSQL. To name a few, have a look at my resume that is attached below to get a full list of the skill set I garner. 
          </p>

          <p class="p1" style="padding-left: 50px; padding-right: 50px;">
              On a side-note there is a fun fact that many don't know about me. I not only write code, but I also love to writing fiction. I am the author of two fictional novels titled "Cross Roads: Pick a Path" and "Marappaiyaa". I guess I didn't want my love for writing to be limited to one sector.
          </p>
    </div>
  </div>
  

 