<!--Banner Image-->
<div>
    <img src="/Assets/images/aboutme_banner.png" class="img-fluid" alt="banner">
</div>






  <div class="row">
    <div class="col ">
        <img src="/Assets/images/avatar.jpg" class="img-thumbnail" style="width:500px;height:400; padding-top: 50px; padding-left: 50px; padding-right: 50px; padding-bottom: 50px;">

    </div>
    <div class="col">
        
    </div>
  </div>