<!--Banner Image-->
<div>
    <img src="/Assets/images/aboutme_banner.png" class="img-fluid" alt="banner">
</div>

<img src="Assets/images/avatar.jpg" alt="avatar" class="img-thumbnail pull-left mr-2">

