<!--Banner Image-->
<div>
    <img src="/Assets/images/aboutme_banner.png" class="img-fluid" alt="banner">
</div>

<div class="card text-center shadow-lg p-3 mb-5 bg-body rounded" style="width:400px">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/Assets/images/avatar.jpg" alt="avatar">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">My name is Janaath Vjayaseelan and I am a student in my third term at Centennial College for the Software Engineering Technician program. I reside in Toronto, Canada a
            city booming for technology. My love for technology started at the age of six in 1999 when my dad got me this huge bulky box I remember to this day. I would spend hours 
          in front of that computer, and eventually started taking it apart, trying to understand how exactly a computer worked. </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

 