<div class="mb-3 text-center container">
    <h1>Contact Me!</h1>
</div>

<div class="mb-3 text-center">
    <p>I am always looking forward to getting in touch with people around the world! If you would like to get in touch, please use the form below!</p>
</div>
<form>
    <div class="mb-3 container">
        <label for="exampleInputFirstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="exampleInputFirstName">
    </div>
    <div class="mb-3 container">
        <label for="exampleInputLastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="exampleInputLastName">
    </div>
    <div class="mb-3 container">
        <label for="exampleInputPhoneNumber" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="exampleInputPhoneNumber">
    </div>

    <div class="mb-3 container">
        <label for="subject">Message</label>
    <textarea id="subject" name="subject" placeholder="Write something.."></textarea>
    </div>

    <div class="mb-3 container">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Your email information will not be shared.</div>
    </div>
    
    
    <div class="text-center">
        <button type="submit" class="mb-3  btn btn-dark btn-lg btn-block">Submit</button>
    </div>
</form>