
<img src="/Assets/images/banner.png" class="img-fluid" alt="banner">

<div class="card" container-fluid>
    <div class="card-body">
      <h5 class="card-title">About Me</h5>
      <p class="card-text">Jump in and get to know me a little more.</p>
      <a href="./about.ejs" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

