<!--Banner Image-->
<div>
    <img src="/Assets/images/banner.png" class="img-fluid" alt="banner">
</div>

<!--Page cards-->
<div class="row">
    <div class="col">
        <div class="card h-50" style="width:400px">
            <img class="card-img-top" src="/Assets/images/avatar.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Janaath Vijayaseelan</h4>
                <p class="card-text">I am a student attending Centennial College in my third term of the Software
                    Engineering Technician program. I aspire to continuously learn, while perfecting my craft.</p>
                <a href="/about" class="btn btn-dark">Learn More About Me</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-50" style="width:400px">
            <img class="card-img-top " src="/Assets/images/portfolio.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Portfolio</h4>
                <p class="card-text">I am a student attending Centennial College in my third term of the Software
                    Engineering Technician program. I aspire to continuously learn, while perfecting my craft.</p>
                <a href="/about" class="btn btn-dark">Learn More About Me</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="/Assets/images/avatar.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Janaath Vijayaseelan</h4>
                <p class="card-text">I am a student attending Centennial College in my third term of the Software
                    Engineering Technician program. I aspire to continuously learn, while perfecting my craft.</p>
                <a href="/about" class="btn btn-dark">Learn More About Me</a>
            </div>
        </div>
    </div>
</div>