<div class="mb-3 container">
    <img src="/Assets/images/banner.png" class="img-fluid" alt="banner">
    <div class="card" style="width:400px">
        <img class="card-img-top" src="/Assets/images/avatar.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Janaath Vijayaseelan</h4>
          <p class="card-text">Some example text.</p>
          <a href="#" class="btn btn-primary">Learn More About Me</a>
        </div>
      </div>
</div>