<!--Banner Image-->
<div>
    <img src="/Assets/images/projects_banner.png" class="img-fluid" alt="avatar">
</div>
<br>

<div class="text-center ">
    <h1>Current Projects</h1>
    <br>
    <h2>Vijay Publications</h2>
    <br>
    <img class="rounded" src="/Assets/images/vijaypublications.PNG" />
    <p class="p1" style="padding-left: 200px; padding-right: 200px;">www.vijaypublications.ca is a project I hold close to me, as a young developer I needed a place to start. I couldn't think of a better way to tie together two of my passions. www.vijaypublications.ca is run on a open source template language called Liquid, it was created by Shopify using Ruby. I have made a few customizations to make the website fall to my liking. However, it is a on going process, and I am looking to build it from the ground up</p>
</div>