<!--Banner Image-->
<div>
    <img src="/Assets/images/projects_banner.png" class="img-fluid" alt="avatar">
</div>
<br>

<div class="text-center shadow-lg p-3 mb-5 bg-body rounded">
    <h1>Current Projects</h1>
    <br>
    <h2>Vijay Publications</h2>
    <br>
    <img class="rounded" src="/Assets/images/vijaypublications.PNG" />
</div>