<!--Banner Image-->
<div>
    <img src="/Assets/images/services_banner.png" class="img-fluid" alt="avatar">
</div>
<br>
<br>

<div>
    <div class="text-center">
        <div class="row">
            <div class="col-sm-5">
                <img class="img-fluid " style=" padding-left: 50px; padding-top: 50x; padding-bottom: 50px; padding-right: 50px; width: 350px; height: 350px;"
                    src="/Assets/images/code-solid.svg" />
            </div>
            <div class="col-sm-7">
                <h2>Object Oriented Programming</h2>
                <p class="p1" style="padding-left: 50px; padding-right: 50px;">Application development can be challenging, and that is why I am here for you. I am knowledgeable in C# which is highly useful in building just about anything. Some things we can use C# for is creating video games, and Windows applications like (ie. Microsoft Office or Photoshop). If you have an idea for a great application but lack the skills to make your vision come true, get in touch with me, I would love to help!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <img class="img-fluid " style=" padding-left: 50px; padding-top: 50x; padding-bottom: 50px; padding-right: 50px; width: 350px; height: 350px;"
                    src="/Assets/images/globe-solid.svg" />
            </div>
            <div class="col-sm-7">
                <h2>Web Development</h2>
                <p class="p1" style="padding-left: 50px; padding-right: 50px;">Web Development can be incredibly confusing with the many levels that are incorporated in getting the job done. I can help you with your web development needs with my skills in languages like HTML5 to create the bones of your site, CSS to get the styling done, Javascript to increase functionality, and many more frameworks to further enhance your site. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <img class="img-fluid " style=" padding-left: 50px; padding-top: 50x; padding-bottom: 50px; padding-right: 50px; width: 350px; height: 350px;"
                    src="/Assets/images/mobile-alt-solid.svg" />
            </div>
            <div class="col-sm-7">
                <p class="p1" style="padding-left: 50px; padding-right: 50px;"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <img class="img-fluid " style=" padding-left: 50px; padding-top: 50x; padding-bottom: 50px; padding-right: 50px; width: 350px; height: 350px;"
                    src="/Assets/images/shopify-brands.svg" />
            </div>
            <div class="col-sm-7">
                <p class="p1" style="padding-left: 50px; padding-right: 50px;"></p>
            </div>
        </div>
        
        
</div>