<!--Banner Image-->
<div>
    <img src="/Assets/images/services_banner.png" class="img-fluid" alt="avatar">
</div>
<br>
<br>

<div>
    <div class="text-center">
        <div class="row">
            <div class="col-sm-5">
                <img class="img-fluid " style=" padding-left: 50px; padding-top: 50x; padding-bottom: 50px; padding-right: 50px;"
                    src="/Assets/images/code-solid.svg" />
            </div>
            <div class="col-sm-7">
                <p class="p1" style="padding-left: 50px; padding-right: 50px;"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <img class="img-fluid " style=" padding-left: 50px; padding-top: 50x; padding-bottom: 50px; padding-right: 50px;"
                    src="/Assets/images/globe-solid.svg" />
            </div>
            <div class="col-sm-7">
                <p class="p1" style="padding-left: 50px; padding-right: 50px;"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <img class="img-fluid " style=" padding-left: 50px; padding-top: 50x; padding-bottom: 50px; padding-right: 50px;"
                    src="/Assets/images/mobile-alt-solid.svg" />
            </div>
            <div class="col-sm-7">
                <p class="p1" style="padding-left: 50px; padding-right: 50px;"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <img class="img-fluid " style=" padding-left: 50px; padding-top: 50x; padding-bottom: 50px; padding-right: 50px;"
                    src="/Client/Assets/images/shopify-brands.svg" />
            </div>
            <div class="col-sm-7">
                <p class="p1" style="padding-left: 50px; padding-right: 50px;"></p>
            </div>
        </div>
        
        
</div>