<div class="row justify-content-lg-center g-3">
    <h1><%= title %> Clothing </h1>

    <form method="POST" class="col-lg-6 col-md-10 col-sm-10">

        <div class="input-group mb-3">
            <span class="input-group-text" id="name">Name</span>
            <input id="name" type="text" class="form-control" placeholder="Contact Name" aria-label="Contact Name" aria-describedby="Contact Name"
            name="name" value="<%= item.name %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="name">E-Mail</span>
            <input id="email" type="text" class="form-control" placeholder="Enter E-Mail Address" aria-label="Contact Email" aria-describedby="Contact Email"
            name="email" value="<%= item.email %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="name">Phone Number</span>
            <input id="phonenumber" type="text" class="form-control" placeholder="Contact Phone Number" aria-label="Contact Phone Number" aria-describedby="Contact Phone Number"
            name="phonenumber" value="<%= item.phonenumber %>" required>
        </div>
        

        <button type="submit" class="btn btn-primary" id="editButton"><i class="fas fa-edit fa-lg"></i> Edit</button>
        
    </form>
</div>